{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content-center">
            <h1 style="color:rgb(102,0,102)"><b> About IET On Campus<br>UET Lahore </b></h1>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content-center">
            <p style="color:rgb(153,51,102)">
                IET On Campus UET Lahore has a well-thought and defined structure that emulates the true professional working experience while stimulating the legends like teamwork, Coordination, Time & project management, management & communication skills.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <img src="/static/img/about-01.jpg" class="d-block w-100" alt="...">
</div>

<div class="container my-5">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content-center">
            <p style="color:rgb(153,51,102)">
                Since its inception; The IET On Campus UET Lahore has been providing an opportunity for maturing engineers to strut their stuff. Born in 2002, with the motto of promoting technology, scientific thinking and innovation, IET On Campus UET Lahore today is a body working for the betterment of professional abilities of students under the patronage of Prof. Tahir Izhar (Society Counsellor and Dean of Electrical Engineering Department, UET Lahore).
            </p>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content-center">
            <h1 style="color:rgb(102,0,102)"><b>Our Mission</b></h1>
        </div>
        
    </div>
</div>

{% endblock body %}