{% extends 'base.html' %}

{% block title %}
Register
{% endblock title %}

{% block body %}
<div class="container-fluid my-3">
    <img src="/static/img/team-01.jpg" class="d-block w-100" alt="...">
</div>
<div class="container">
    <p class="text-center my-3" style="color:DarkMagenta">Register yourself here.</p>
    <form method="post" action="register">
    {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Type your username">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Type your password">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Confirm your password">
        </div>
        <button class="btn btn-bd-primary" style="color:puple" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}