{% extends 'base.html' %}

{% block title %}
Our Team
{% endblock title %}

{% block body %}
<div class="container-fluid my-3 mb-3">
    <img src="/static/img/team-01.jpg" class="d-block w-100" alt="...">
</div>
<div class="container">
    <p class="text-center my-3" style="color:DarkMagenta">Meet the IETians.</p>
    <h2 class="text-right my-3" style="color:Indigo"><b>Core Body</b></h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/crousel2.jpg" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-text" style="color:DarkMagenta"> President </h5>
                    <p class="card-text" style="color:rgb(77, 25, 51)">A little introduction of president</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/crousel2.jpg" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-text" style="color:DarkMagenta"> Director </h5>
                    <p class="card-text" style="color:rgb(77, 25, 51)">A little introduction of director</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/crousel2.jpg" class="d-block w-100" alt="...">

                <div class="card-body">
                    <h5 class="card-text" style="color:DarkMagenta"> General Secretary </h5>
                    <p class="card-text" style="color:rgb(77, 25, 51)">A little introduction of GS</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-right my-3" style="color:Indigo"><b>Executive Body</b></h2>
    <h2 class="text-right my-3" style="color:Indigo"><b>General Body</b></h2>
</div>

{% endblock body %}